
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Tajawal:100,300,600');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap-4.2.1-rtl/scss/bootstrap';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
    direction: rtl;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Tajawal', sans-serif;
    font-weight: 100;
    text-align:right;
    margin: 0;
}

.navbar {
    padding: 1.5vw;
    border-bottom: 2px solid #77dd99;
    display:block;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.content {
    padding: 30px;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links > a {
    color: #77dd99;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.week-table th, .week-table td {
    padding: 1.25rem;

}
table.week-table {
    border: solid 3px #454d55;
    border-left: 0;
}

.week-day {
    font-size: 25px;
    font-weight: bold;
}

td.table-pos-2 , td.thick-border-left , th.thick-border-left {
    border-left: solid 3px #454d55;
}

// Bootstraps 4 Toggle

.form-check-switch {
  display: inline-block;
  width: 44px;
  height: 24px;
  position: relative;
  .form-check-input {
    display: none;
    &:checked + .form-check-label:after {
      left: 50%;
    }
  }
  .form-check-label {
    border-radius: 12px;
    position: absolute;
    white-space:nowrap;
    font-size: 0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    padding:0;
    background: #ccc;
    transition: all .3s ease;
    &:after {
      background: #fff;
      border-radius: 50%;
      content: "";
      top: 2px;
      left: 2px;
      width: 20px;
      height: 20px;
      position: absolute;
      transition: all .3s ease;
    }
  }
}

.form-check-primary {
  .form-check-input {
    &:checked + .form-check-label{
      background: #007bff;
    }
  }
}
.form-check-secondary {
  .form-check-input {
    &:checked + .form-check-label{
      background: #6c757d;
    }
  }
}
.form-check-success {
  .form-check-input {
    &:checked + .form-check-label{
      background: #28a745;
    }
  }
}
.form-check-info {
  .form-check-input {
    &:checked + .form-check-label{
      background: #17a2b8;
    }
  }
}
.form-check-warning {
  .form-check-input {
    &:checked + .form-check-label{
      background: #ffc107;
    }
  }
}
.form-check-danger {
  .form-check-input {
    &:checked + .form-check-label{
      background: #dc3545;
    }
  }
}